<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="beauty.dao.ReviewDAO">

    <sql id="searchWhere">
        WHERE 1=1
        <if test="keyword != null and keyword != ''">
            AND r.review_text LIKE '%' || #{keyword} || '%'
        </if>
        <if test="sentiment != null and sentiment != ''">
            AND r.sentiment = #{sentiment}
        </if>
        <if test="skinType != null and skinType != ''">
            AND r.skin_type LIKE '%' || #{skinType} || '%'
        </if>
    </sql>

    <select id="selectSearchList" parameterType="map" resultType="reviewVO">
        SELECT r.review_id as reviewId
             , r.product_id as productId
             , p.product_name as productName
             , p.brand_name as brandName
             , r.nickname
             , r.review_date as reviewDate
             , r.rating
             , r.skin_tone as skinTone
             , r.skin_type as skinType
             , r.skin_raw as skinRaw
             , r.satisfaction
             , r.purchase_option as purchaseOption
             , r.review_text as reviewText
             , r.helpful
             , r.sentiment
          FROM t_review r
          JOIN t_product p ON r.product_id = p.product_id
        <include refid="searchWhere" />
         ORDER BY r.review_id DESC
         OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>

    <select id="selectSearchCount" parameterType="map" resultType="int">
        SELECT COUNT(*)
          FROM t_review r
          JOIN t_product p ON r.product_id = p.product_id
        <include refid="searchWhere" />
    </select>


</mapper>
